JFusion-vtiger-plugin.bbprojectd/project.bbprojectdata
JFusion-vtiger-plugin.bbprojectd/Wade.bbprojectsettings
JFusion-vtiger-plugin.bbprojectd/Unix Worksheet.worksheet
JFusion-vtiger-plugin.bbprojectd/Scratchpad.txt
Archive.zip